/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
body{
	font-family: 'Open Sans', sans-serif;
	padding:0;
	margin:0;
	background: url(../images/4.jpg)no-repeat 0px 0px;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
		
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-weight:400;
}
input[type="button"],input[type="submit"],input[type="text"],input[type="password"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;		
	font-weight:400;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-family: 'Josefin Sans', sans-serif;
}	
.clear {
	clear:both;
}
.text-center {
	text-align:center;
}
p{
	margin:0;
	
}
label{
	margin:0;
}
img{
	width:100%;
}
/*--header--*/
.agile-voltheader h1 {
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;
    color: #faf6f3;
    padding: 1em 0 1em;
}	
.agile-voltsub {
    width: 35%;
    margin: 0 auto;
    background: rgba(41, 41, 41, 0.52);
    box-sizing: border-box;
    padding: 2em;
}
.agile-voltsub h2 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
	color:#fff;
    letter-spacing: 2px;
    padding: 0.2em 0.2em;
}
p {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0;
    padding: 1em 0 0.5em;
    color: #e8ec19;
}
input[type="text"],input[type="password"],input[type="number"],input[type="email"],input[type="tel"],textarea {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    padding: 0.8em 0.5em 0.8em;
	box-sizing:border-box;
	width: 100%;
    border: none;
    outline: none;
    background:rgba(255, 255, 255, 0.19);
    color: #fff;
	
}
select {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 1em 0 1em;
    width: 100%;
    margin: 1em 0 1em;
    background:rgba(255, 255, 255, 0.19);
    color: #fff;
    letter-spacing: 2px;
    border: 2px solid #5acae9;
}
.agile-voltheader label {
    color: #00e5ff;
}
option {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    background: rgba(40, 37, 37, 0.5);
    color: #fff;
    border: 2px solid #9e2929;
    letter-spacing: 2px;
}
.agile-days span.Monday {
	font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
	    padding: 0.5em 0;
}
.agile-days span.Tuesday {
	    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
	    padding: 0.5em 0;
}
.agile-days span.Wednesday {
	    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
	    padding: 0.5em 0;
		
}.agile-days span.Thursday {
	    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
	    padding: 0.5em 0;
}
.agile-days span.Friday {
	    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
	    padding: 0.5em 0;
}
.agile-days span.Saturday {

	    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
	    padding: 0.5em 0;
}
.agile-days span.Sunday {

	    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
	    padding: 0.5em 0;
}
select {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 1em 0 1em;
    width: 100%;
		margin: 0em 0 1em;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.29);
    color: #fff;
    letter-spacing: 1px;
	outline:none;
    border: none;
}
.agile-from {
    width: 47%;
    float: left;
}
.agile-to {
    width: 47%;
    float: left;
    margin-left: 3%;
}
input[type="submit"] {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    background: #e8ec19;
    color:#000;
    border: none;
    outline: none;
    width: 45%;
    margin: 2em auto 0;
    display: block;
    padding: 0.5em 0.5em;
	cursor:pointer;
}
input[type="submit"]:hover {
    background:#ecdd19;
    transition: 0.5s ease-in;
}
::-webkit-input-placeholder{
	color:#fff;
}
::-moz-input-placeholder{
	color:#fff;
}
::-ms-input-placeholder{
	color:#fff;
}
/*--footer--*/
footer {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #fff;
    padding: 2em 0em 2em;
}
footer a{
	font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #e8ec19;
	text-decoration:none;
  
}
.agile-days span {
    padding-bottom: 2em;
    display: block;
}
textarea {
    min-height: 130px;
    resize: none;
}
/*--/footer--*/
/*--responsive--*/
@media(max-width:1440px){
	.agile-voltsub {
		width: 45%;
	}
}
@media(max-width:1366px){
	.agile-voltsub {
		width: 50%;
	}
}
@media(max-width:1280px){
	.agile-voltsub {
		width: 55%;
	}
}
@media(max-width:1080px){
	.agile-voltsub {
		width: 60%;
	}
}
@media(max-width:1050px){
	
}
@media(max-width:1024px){
	
}
@media(max-width:991px){
	
}
@media(max-width:900px){
	.agile-voltsub {
		width: 70%;
	}
}
@media(max-width:800px){
	.agile-voltsub {
		width: 75%;
	}
}
@media(max-width:768px){
	.agile-voltsub {
		width: 80%;
	}
}
@media(max-width:736px){
footer {
    line-height: 26px;
}	
}
@media(max-width:667px){
.agile-voltheader h1 {
    font-size: 40px;
}
}
@media(max-width:600px){
	.agile-voltsub {
		width: 90%;
	}
	.agile-voltheader h1 {
		font-size: 36px;
	}
	footer {
		font-size: 15px;
	}
	.agile-voltsub h2 {
    font-size: 30px;
}
}
@media(max-width:568px){
	.agile-voltsub {
		width: 92%;
}
}
@media(max-width:480px){
	.agile-voltheader h1 {
		font-size: 28px;
	}
}
@media(max-width:414px){
.agile-voltheader h1 {
    line-height: 43px;
	padding: 1em 0 0.5em;
}
.agile-voltsub h2 {
    font-size: 26px;
}
p {
    font-size: 15px;
}
footer {
    font-size: 14px;
	letter-spacing:1px;
}
input[type="submit"] {
    margin: 1em auto 0;
}
}
@media(max-width:384px){
}
@media(max-width:375px){
	
}
@media(max-width:320px){
	.agile-voltsub h2 {
		font-size: 20px;
	}
	.agile-voltsub {
    width: 94%;
	padding: 1.5em;
}
footer {
    font-size: 13px;
}
	.agile-from {
		width: 100%;
	}
	.agile-to {
		width: 100%;
	    margin-left: 1%;
	}
	.agile-voltheader h1 {
    line-height: 35px;
    padding: 0.8em 0 0.8em;
}
footer {
    line-height: 22px;
	    padding: 1em 0em 1em;
}
input[type="submit"] {
    font-size: 17px;
}
footer a {
    font-size: 13px;
}
}
/*--/responsive--*/